__pycache__/
.venv/
*.pyc
.DS_Store
data/config.json
data/proxies.txt
data/names_to_check.txt
results/
logs/

# Local hunt output; the live board file is written by the schedule only.
hits.local.json
